@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Hubungkan ke variabel yang dibuat di layout.tsx */
  --font-sans: var(--font-poppins), ui-sans-serif, system-ui;
  --font-montserrat: var(--font-montserrat), sans-serif;

  --color-primary: var(--primary);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

:root {
  --radius: 0.75rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0 0 0);
  --primary: oklch(0.51 0.22 260.1);
  --border: oklch(0.92 0 0);
  --input: oklch(0.92 0 0);
  --ring: oklch(0.51 0.22 260.1);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans font-normal antialiased;
  }
  h1,
  h2,
  h3,
  h4 {
    @apply font-montserrat font-bold tracking-tight text-black;
  }
}
